.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li {
    display: inline;
    padding: 0 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.banner{
    background-color: #4D00ff;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0px;
}
p{
    border: 2px solid white;
}
#small-gritty {
    height: 200px;
    width:200px;
    filter: drop-shadow(2px 2px 2px black);
}
.gritter section {
    padding: 20px 50px;
}
#gritter {
    color:#4D00ff;
    font-size: 100px;
}
.bold {
    font-weight: 900;
}

a.blue {
    color:blue
}
#greets ul {
    list-style-type: none;
}

.avatar{
    background-image: url('../devproject/resources/css/better_than_drake.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}